.buttom-items-layout{
    display: flex;
    padding-top: 5%;
    /* padding: 4%; */
}
.buttom-left-image{
  background: #fff;
display: flex;
flex-direction: row;
width: 40px;
height: 40px;
/* padding-right: 2%; */
margin-right: 4%;
}
.buttom-right-item{
font-size: 0.8rem;
}
.buttom-user-value{
font-size: 0.7rem;
font-weight: lighter;
}